.userdashboard-container-flex{
    display: flex;
    justify-content: space-between;
    gap: 500px;
    margin: 0 100px;
    
}

.userdashboard-container-flex h1{
    width: 400px;
    font-size: 36px;
    font-weight: normal;
    margin-right: auto;
    margin-top: 70px;
}

.events-container-flex{
    padding: 32px;
}

.events-container-flex input{
    padding: 6px 12px;
    border-radius: 9px;
    border: none;
    
    margin: 6px 12px;
}
.make-booking{
    text-align: center;
    width: 400px;
    background-color: var(--green-light);
    padding: 12px;
    border-radius: 9px;
}

.make-booking button{
    background-color: var(--color-light);
    border-radius: 9px;
    padding: 6px 120px;
    border: none;
    margin-left: auto;
}

.reason{
    width: 350px;
}

.activties-flex-container{
    display: flex;
    justify-content: space-around;
    
}

.DisplayBooking-container{
    background-color: var(--green-light);
    padding: 12px 20px;
    border-radius: 9px;
    max-height: 500px;
    
    overflow-y: auto;
    overflow-x: hidden;
    
}