.form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--green-light);
    width: fit-content;
    padding: 12px;
    margin: auto;
    margin-top: 12px;
}

.form-container button{
    border: none;
    margin: 9px;
    padding: 6px;
    border-radius: 9px;
}

.form-container input{
    padding: 6px 12px;
    border-radius: 9px;
    border: none;
    margin: 6px 12px;
}

.form-container form{
    display: flex;
    flex-direction: column;
}